<header class="l-header">
  <div class="l-header__container">
    <h1 class="l-header__heading">
      <a href="#" class="l-header__heading-link">
        <img
          src="./assets/images/common/logo.svg"
          width="300"
          height="60"
          alt="Code Stock"
          decoding="async"
          class="l-header__heading-image"
        />
      </a>
    </h1>

    <div class="l-header__contents">
      <nav class="l-header__nav l-header-nav js-header-nav">
        <ul class="l-header-nav__list">
          <li class="l-header-nav__item l-header-nav-item">
            <a href="#" class="l-header-nav-item__link">
              <span class="l-header-nav-item__label">メニュー01</span>
            </a>
          </li>

          <li class="l-header-nav__item l-header-nav-item js-header-nav-item">
            <button
              class="l-header-nav-item__link"
              aria-expanded="false"
              aria-controls="submenu-02"
              aria-haspopup="true"
            >
              <span class="l-header-nav-item__label">メニュー02</span>
            </button>

            <ul
              id="submenu-02"
              class="l-header-nav__sub-menu l-header-nav-sub-menu js-header-nav-sub-menu"
            >
              <li class="l-header-nav-sub-menu__item">
                <a href="#" class="l-header-nav-sub-menu__link">
                  <span class="l-header-nav-sub-menu__label">
                    サブメニュー01
                  </span>
                </a>
              </li>
              <li class="l-header-nav-sub-menu__item">
                <a href="#" class="l-header-nav-sub-menu__link">
                  <span class="l-header-nav-sub-menu__label">
                    サブメニュー02
                  </span>
                </a>
              </li>
              <li class="l-header-nav-sub-menu__item">
                <a href="#" class="l-header-nav-sub-menu__link">
                  <span class="l-header-nav-sub-menu__label">
                    サブメニュー03
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="l-header-nav__item l-header-nav-item">
            <a href="#" class="l-header-nav-item__link">
              <span class="l-header-nav-item__label">メニュー03</span>
            </a>
          </li>

          <li class="l-header-nav__item l-header-nav-item">
            <a href="#" class="l-header-nav-item__link">
              <span class="l-header-nav-item__label">メニュー04</span>
            </a>
          </li>

          <li class="l-header-nav__item l-header-nav-item">
            <a href="#" class="l-header-nav-item__link">
              <span class="l-header-nav-item__label">メニュー05</span>
            </a>
          </li>

          <li class="l-header-nav__item l-header-nav-item">
            <a href="#" class="l-header-nav__entry">
              <span class="l-header-nav__entry-label">エントリー</span>
            </a>
          </li>
        </ul>
      </nav>

      <button
        class="l-header__menu-button l-header-menu-button js-header-menu-button"
        aria-label="メニュー開閉"
      >
        <span class="l-header-menu-button__bar"></span>
        <span class="l-header-menu-button__bar"></span>
        <span class="l-header-menu-button__bar"></span>
      </button>
    </div>
  </div>
</header>

<main class="tw:bg-neutral-100 tw:h-[1600px] tw:flex">
  <div class="tw:m-auto">メインコンテンツエリア</div>
</main>

<footer class="tw:bg-neutral-200 tw:h-[200px] tw:flex">
  <div class="tw:m-auto">フッターエリア</div>
</footer>
