<div class="tw:py-[40px]">
  <p
    class="tw:font-bold tw:text-[16px] tw:md:text-[24px] tw:mb-[16px] tw:md:mb-[24px] tw:text-center"
  >
    流れるテキスト（.c-text-flowing）
  </p>
  <p
    class="tw:font-bold tw:text-[14px] tw:md:text-[16px] tw:mb-[24px] tw:md:mb-[32px] tw:text-center tw:text-orange-500"
  >
    ※ splide.min.js / splide-core.min.css /
    splide-extension-auto-scroll.min.jsを使用
  </p>

  <div class="c-text-flowing js-text-flowing splide">
    <div class="c-text-flowing__track splide__track">
      <ul class="c-text-flowing__list splide__list">
        <li class="c-text-flowing__slide splide__slide">CODE STOCK</li>
      </ul>
    </div>
  </div>
</div>

<div class="tw:py-[40px]">
  <p
    class="tw:font-bold tw:text-[16px] tw:md:text-[24px] tw:mb-[16px] tw:md:mb-[24px] tw:text-center"
  >
    背景に流れるテキスト（.p-text-flowing / .c-text-flowing）
  </p>
  <p
    class="tw:font-bold tw:text-[14px] tw:md:text-[16px] tw:mb-[24px] tw:md:mb-[32px] tw:text-center tw:text-orange-500"
  >
    ※ splide.min.js / splide-core.min.css /
    splide-extension-auto-scroll.min.jsを使用
  </p>

  <section class="p-text-flowing">
    <div class="p-text-flowing__bg">
      <div class="c-text-flowing js-text-flowing splide">
        <div class="c-text-flowing__track splide__track">
          <ul class="c-text-flowing__list splide__list">
            <li class="c-text-flowing__slide splide__slide">CODE STOCK</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-text-flowing__heading">
      <h2 class="p-text-flowing__title">セクション見出し</h2>
      <p class="p-text-flowing__lead">
        ここにリード文。ここにリード文。ここにリード文。
      </p>
    </div>
  </section>
</div>

<div class="tw:py-[40px]">
  <p
    class="tw:font-bold tw:text-[16px] tw:md:text-[24px] tw:mb-[16px] tw:md:mb-[24px] tw:text-center"
  >
    CSSのみで流れるテキスト（.c-text-flowing-css）
  </p>

  <div class="c-text-flowing-css"></div>
</div>
