.p-table-profile {
  width: 100%;
  border-top: 1px solid #cad5e2;
}

.p-table-profile__row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 24px;
  border-bottom: 1px solid #cad5e2;
}
@media screen and (min-width: 768px) {
  .p-table-profile__row {
    flex-direction: row;
    padding-block: 32px;
  }
}

.p-table-profile__th {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-table-profile__th {
    width: 180px;
  }
}

.p-table-profile__td {
  display: flex;
  gap: 24px;
}

.p-table-profile__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-table-profile__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.p-table-profile__list-item {
  position: relative;
  padding-left: 0.75em;
}

.p-table-profile__list-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "・";
}

.p-table-profile-dl {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 28px;
  border-top: 1px solid #cad5e2;
}
@media screen and (min-width: 768px) {
  .p-table-profile-dl {
    gap: 32px;
    margin-top: 40px;
  }
}

.p-table-profile-dl__row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cad5e2;
}
@media screen and (min-width: 768px) {
  .p-table-profile-dl__row {
    flex-direction: row;
    padding-bottom: 32px;
  }
}

.p-table-profile-dl__th {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-table-profile-dl__th {
    width: 180px;
  }
}

.p-table-profile-dl__td {
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .p-table-profile-dl__td {
    flex: 1;
  }
}

.p-table-profile-dl__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .p-table-profile-dl__body {
    flex: 1;
  }
}

.p-table-profile-dl__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.p-table-profile-dl__list-item {
  position: relative;
  padding-left: 0.75em;
}

.p-table-profile-dl__list-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "・";
}
