<div class="tw:flex tw:flex-col tw:gap-[24px] tw:p-[16px]">
  <div class="c-bg-pattern-dot01 tw:w-full tw:h-[200px]">
    <p>水玉模様・ドット柄の背景（.c-bg-pattern-dot01）</p>
  </div>

  <div class="c-bg-pattern-dot01-02 tw:w-full tw:h-[200px]">
    <p>水玉模様・ドット柄の背景（.c-bg-pattern-dot01-02）</p>
  </div>

  <div class="c-bg-pattern-dot02 tw:w-full tw:h-[200px]">
    <p>水玉模様・ドット柄の背景（.c-bg-pattern-dot02）</p>
  </div>

  <div class="c-bg-pattern-dot02-02 tw:w-full tw:h-[200px]">
    <p>水玉模様・ドット柄の背景（.c-bg-pattern-dot02-02）</p>
  </div>
</div>
