<div class="tw:flex tw:flex-col tw:gap-[40px] tw:p-[16px] tw:bg-orange-50">
  <h2 class="c-heading-title01">見出しのデザイン01</h2>

  <h2 class="c-heading-title01-02">見出しのデザイン01-02</h2>

  <h2 class="c-heading-title02">見出しのデザイン02</h2>

  <h2 class="c-heading-title03">見出しのデザイン03</h2>

  <h2 class="c-heading-title03-02">見出しのデザイン03-02</h2>

  <h2 class="c-heading-title04">見出しのデザイン04</h2>

  <h2 class="c-heading-title05">見出しのデザイン05</h2>

  <h2 class="c-heading-title05-02">見出しのデザイン05-02</h2>

  <h2 class="c-heading-title06">見出しのデザイン06</h2>

  <h2 class="c-heading-title06-02">見出しのデザイン06-02</h2>

  <h2 class="c-heading-title07">見出しのデザイン07</h2>

  <h2 class="c-heading-title08">
    <span class="en">Heading design</span>
    <span class="ja">見出しのデザイン08</span>
  </h2>

  <h2 class="c-heading-title09">見出しのデザイン09</h2>

  <h2 class="c-heading-title10">
    見出しのデザイン見出しのデザイン見出しのデザイン見出しのデザイン見出しのデザイン見出しのデザイン10
  </h2>
</div>
