<div class="tw:flex tw:flex-col tw:gap-[24px] tw:p-[16px]">
  <p><span class="c-text-deco-marker">テキスト装飾（マーカー）</span></p>

  <p>
    <span class="c-text-deco-underline">テキスト装飾（アンダーライン）</span>
  </p>

  <p>
    <span class="c-text-deco-gradation">テキスト装飾（グラデーション）</span>
  </p>

  <p>
    <span class="c-text-deco-outline">テキスト装飾（アウトライン）</span>
  </p>

  <p>
    <span class="c-text-deco-bubble">
      テキスト装飾（下から呼びかけるフキダシ）
    </span>
  </p>

  <p class="c-text-deco-topdot">
    <span class="char">テ</span><span class="char">キ</span
    ><span class="char">ス</span><span class="char">ト</span
    ><span class="char">装</span><span class="char">飾</span>（上部にドット）
  </p>
</div>
